/* You can add global styles to this file, and also import other style files */
.vertex-marker {
  background-color: blue;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: block;
  box-shadow: 0 0 2px white;
}
